.mzd-app-toolbar {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.mzd-app-button-container {
  text-align: center;
  margin-bottom: 10px;

  :not(:last-child) {
    margin-right: 10px;
  }
}