<div class="container">
  App works
  <mzd-timeline>
    <div mzdTimelineItem [index]="0">
      <div class="card">
        <h1>Title</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempora dolor ullam exercitationem illum enim id maxime sunt eius, neque repellat corporis atque voluptatibus quasi nam necessitatibus odit commodi quisquam?</p>
      </div>
    </div>
    <div mzdTimelineItem [index]="1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur tenetur exercitationem ullam perspiciatis amet, illo provident adipisci quidem, itaque eligendi modi laboriosam. Magnam distinctio eum, quaerat corrupti voluptatibus laborum ratione.
    </div>
    <div mzdTimelineItem [index]="2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur tenetur exercitationem ullam perspiciatis amet, illo provident adipisci quidem, itaque eligendi modi laboriosam. Magnam distinctio eum, quaerat corrupti voluptatibus laborum ratione.
    </div>
  </mzd-timeline>
</div>
